.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown-item.active {
 color:#fff;
 text-decoration:none;
 background-color:#2595ff
}
.nav {
 display:flex;
 flex-wrap:wrap;
 padding-left:0;
 margin-bottom:0;
 list-style:none
}
.nav-link {
 display:block;
 padding:.5rem 1rem;
 color:#2595ff;
 text-decoration:none
}
.accordion-button:not(.collapsed)::after {
 background-image:url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"%3e %3cpath xmlns="http://www.w3.org/2000/svg" d="M2.23052 4.21826H13.7696C14.5678 4.21826 14.967 5.18246 14.4019 5.74753L8.63462 11.5193C8.28482 11.8691 7.71526 11.8691 7.36546 11.5193L1.59818 5.74753C1.03312 5.18246 1.43225 4.21826 2.23052 4.21826Z" fill="%232595ff"/%3e%3c/svg%3e');
 transform:rotate(-180deg)
}

.accordion-header {
 margin-bottom:0
}

#qrcg-container-left {
 position:relative
}
#qrcg-container-right div {
 margin:auto
}
#qrcg-widget-container label {
 margin-bottom:0.7rem;
 color:#16212f;
 font-weight:400
}

#tabs-container .nav-link.active {
 box-shadow:0 4px 0 #2595ff inset
}
.nav-pills .nav-link {
 color:#fff;
 opacity:.7;
 padding:0.9rem .8rem;
 border-radius:0px!important
}
#premium-msg {
 background:#FFF8EA
}


#customization-box .nav-link.active {
 background:#E9F4FF!important;
 color:#2595ff;
 border:1px solid #2595ff;
 z-index:10!important
}
@import url('http://fonts.cdnfonts.com/css/lilly');
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}
h1{
  font-family: 'Lilly', sans-serif;
  font-size: 50px;
}
.gen input{
  height: 35px;
  width: 250px;
  font-size: 20px;
  padding-left: 5px;
}
button{
  position: relative;
  height: 38px;
  width: 100px;
  top: -2px;
  font-size: 18px;
  border: none;
  color: whitesmoke;
  background-color: forestgreen;
  box-shadow: 2px 2px 5px rgb(74, 182, 74);
  cursor: pointer;
}
button:active{
  box-shadow: none;
}
.extra{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.output-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.box3d {
  display: inline-block;
  padding: 10px;
  background-color: #02f7708e; 
  border: 1px solid #00fc8663;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: perspective(100px) rotateX(10deg) rotateY(-10deg);
  transition: transform 0.3s ease-in-out;
  color: #ffffff75;
}

.box3d:hover {
  transform: perspective(100px) rotateX(0) rotateY(0);
  background-color: #ff000000;
}
